[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dcbench = {editable = true, path = "."}
svn = "*"
codalab = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
